/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.container {
  width: 880px;
  margin: auto;
}
@media (max-width: 1100px) {
  .container {
    display: flex;
    flex-direction: column;
    max-width: 880px;
  }
}
@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    max-width: 768px;
    justify-content: center;
    min-width: 400px;
  }
}
@media (max-width: 400px) {
  .container {
    max-width: 400px;
  }
}
.container header {
  width: 100%;
  display: flex;
}
@media (max-width: 1100px) {
  .container header {
    width: 93%;
    margin: auto;
  }
}
@media (max-width: 768px) {
  .container header {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (max-width: 400px) {
  .container header {
    margin: auto;
    align-items: center;
  }
}
@media (max-width: 1100px) {
  .container header nav {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .container header nav {
    width: 93%;
  }
}
.container header nav ul {
  margin-top: 40px;
  width: 610px;
  justify-content: space-between;
  display: flex;
}
@media (max-width: 1100px) {
  .container header nav ul {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .container header nav ul {
    margin-top: 1%;
  }
}
@media (max-width: 400px) {
  .container header nav ul {
    margin: auto;
    flex-direction: column;
  }
}
@media (max-width: 400px) {
  .container header nav ul li {
    display: flex;
    justify-content: center;
    margin: 3%;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: grey;
  }
}
.container header nav ul li a {
  text-decoration: none;
  color: #b0b0b0;
}
.container header nav ul li a:hover {
  text-decoration: underline;
  color: black;
}
@media (max-width: 400px) {
  .container header nav ul li a {
    margin-bottom: 1%;
  }
}
.container header .logo {
  align-self: flex-end;
  margin: 28px 0 0 91px;
}
@media (max-width: 768px) {
  .container header .logo {
    margin: auto;
  }
}
@media (max-width: 400px) {
  .container header .logo {
    width: auto;
    margin: auto;
  }
}
.container .cta {
  display: flex;
  margin-top: 72px;
  justify-content: flex-end;
}
@media (max-width: 1100px) {
  .container .cta {
    width: 93%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2%;
  }
}
@media (max-width: 768px) {
  .container .cta {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 90%;
    justify-content: center;
  }
}
@media (max-width: 400px) {
  .container .cta {
    display: flex;
    margin: 0%;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}
.container .cta .cta-text {
  font-size: 72px;
  text-align: center;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  margin: 0 82px 0 0;
}
@media (max-width: 1100px) {
  .container .cta .cta-text {
    width: 100%;
    margin: auto;
  }
}
@media (max-width: 768px) {
  .container .cta .cta-text {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 3%;
    width: 40%;
    margin-left: auto;
  }
}
@media (max-width: 400px) {
  .container .cta .cta-text {
    margin: 0%;
    width: 50%;
  }
}
@media (max-width: 768px) {
  .container .cta .cta-text .cta-text h1 {
    font-size: 5.3rem;
  }
}
.container .cta .cta-text .cta-text h1 .cta-text button {
  border: 1px double black;
  font-size: 16px;
  background: white;
  width: 170px;
  height: 32px;
  margin-top: 10px;
  cursor: pointer;
}
@media (max-width: 1100px) {
  .container .cta .cta-text .cta-text h1 .cta-text button {
    margin: auto;
    width: auto;
  }
}
@media (max-width: 768px) {
  .container .cta .cta-text .cta-text h1 .cta-text button {
    font-size: 1.4888888rem;
    width: 60%;
    height: 100%;
  }
}
.container .cta .cta-text .cta-text h1 .cta-text button:hover {
  background: black;
  color: white;
}
@media (max-width: 1100px) {
  .container .cta img {
    width: 70%;
    margin: auto;
  }
}
@media (max-width: 768px) {
  .container .cta img {
    width: 40%;
    margin-left: auto;
  }
}
@media (max-width: 400px) {
  .container .cta img {
    width: 80%;
    margin: 0%;
    margin-top: 3%;
    margin-bottom: 3%;
  }
}
.container .main-content {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin: 75px 0 35px 0;
  padding: 35px 0;
  font-size: 16px;
  line-height: 18px;
}
@media (max-width: 1100px) {
  .container .main-content {
    display: flex;
    flex-direction: column;
    width: 93%;
    margin: auto;
  }
}
@media (max-width: 768px) {
  .container .main-content {
    display: flex;
    margin: auto;
    justify-content: center;
    width: 93%;
  }
}
@media (max-width: 400px) {
  .container .main-content {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}
.container .main-content .top-content {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .container .main-content .top-content {
    margin: auto;
  }
}
@media (max-width: 400px) {
  .container .main-content .top-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: auto;
  }
}
@media (max-width: 400px) {
  .container .main-content .top-content h4 {
    text-align: center;
    font-size: 2rem;
  }
}
@media (max-width: 400px) {
  .container .main-content .top-content p {
    margin: 4%;
  }
}
.container .main-content .middle-img {
  display: block;
  margin: 30px auto;
}
@media (max-width: 1100px) {
  .container .main-content .middle-img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .container .main-content .middle-img {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .container .main-content .middle-img {
    align-items: stretch;
    width: 100%;
    margin: 0%;
  }
}
.container .main-content .bottom-content {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .container .main-content .bottom-content {
    margin: auto;
  }
}
@media (max-width: 400px) {
  .container .main-content .bottom-content {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}
@media (max-width: 400px) {
  .container .main-content .bottom-content .text-content {
    margin: 4%;
  }
}
@media (max-width: 400px) {
  .container .main-content .bottom-content .text-content h4 {
    text-align: center;
    font-size: 2rem;
  }
}
.container .main-content .bottom-content .text-content h4 .text-content p {
  padding-right: 20px;
}
.container .contact {
  margin: 15px 0;
}
@media (max-width: 1100px) {
  .container .contact {
    width: 93%;
    margin: 3.14%;
  }
}
@media (max-width: 768px) {
  .container .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 100%;
    margin-top: 2%;
    text-align: center;
    justify-content: center;
  }
}
@media (max-width: 400px) {
  .container .contact {
    margin-top: 3%;
  }
}
@media (max-width: 768px) {
  .container .contact .contact p {
    margin: 2%;
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 400px) {
  .container .contact .contact p {
    margin: 2%;
  }
}
.container footer {
  text-align: center;
  margin: 40px 0 20px;
}
@media (max-width: 1100px) {
  .container footer {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .container footer {
    justify-content: center;
  }
}
